@import '~scss/index.scss';


.#{$prefix}types {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid $index-types-border-color;

  ul {
    list-style: none;
    justify-content: center;

    .type {
      padding: 0 25px;
    }
    .active {
      color: $index-types-active-color;
    }
  }
}





